{% extends 'layouts/form.html' %}
{% block title %}Search Keyword{% endblock %}
{% block content %}
  <form method="post" class="form form-reset" action="">
    <h3 class="form-heading">Search keyword <a href="/" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
    {{ form.keyword(class_ = 'form-control first-input last-input', placeholder = "keyword") }}
    <!-- <p class="pull-left"><a href="/login">Login</a></p>
    <p class="pull-right"><a href="/register">Register</a></p>
  -->
    <input type="submit" value="Submit" class="btn btn-lg btn-primary btn-block">
    <br>
    <p></p>
  </form>
{% endblock %}
